<a href="https://colab.research.google.com/github/reyllama/TTIO/blob/master/01_CorrMatrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving stocks.csv to stocks.csv

In [6]:
import io
import pandas as pd
import numpy as np
import torch
from torch import nn
from torch import optim
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
import torch.nn.functional as F

df = pd.read_csv(io.BytesIO(uploaded['stocks.csv']))
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  stock_id  name        date  ...  lowest_price  closing_price  trading_volume
0   000020  동화약품  2016-01-04  ...          7920           8140          281440
1   000020  동화약품  2016-01-05  ...          8000           8190          243179
2   000020  동화약품  2016-01-06  ...          8110           8550          609906
3   000020  동화약품  2016-01-07  ...          8190           8380          704752
4   000020  동화약품  2016-01-08  ...          8130           8770          802330

[5 rows x 8 columns]

In [9]:
def year_parser(column):
  return int(column[0:4])

def month_parser(column):
  return int(column[5:7])

df['year'] = df['date'].apply(year_parser)
df['month'] = df['date'].apply(month_parser)

df.head()

  stock_id  name        date  ...  trading_volume  year  month
0   000020  동화약품  2016-01-04  ...          281440  2016      1
1   000020  동화약품  2016-01-05  ...          243179  2016      1
2   000020  동화약품  2016-01-06  ...          609906  2016      1
3   000020  동화약품  2016-01-07  ...          704752  2016      1
4   000020  동화약품  2016-01-08  ...          802330  2016      1

[5 rows x 10 columns]

In [92]:
df1 = df[(df['year']==2018)&(df['month'].isin([10,11,12]))]
df1.shape

(136358, 10)

In [93]:
df1.head(5)

    stock_id  name        date  ...  trading_volume  year  month
675   000020  동화약품  2018-10-01  ...           42239  2018     10
676   000020  동화약품  2018-10-02  ...           84470  2018     10
677   000020  동화약품  2018-10-04  ...           41439  2018     10
678   000020  동화약품  2018-10-05  ...          113530  2018     10
679   000020  동화약품  2018-10-08  ...          164828  2018     10

[5 rows x 10 columns]

In [56]:
# print(len(df1))
# df1.drop_duplicates(subset=['name', 'date']).shape

In [57]:
# reg = df1.drop_duplicates(subset=['name', 'date']).index
# df1.drop(reg).drop_duplicates(subset='name')

In [94]:
df2 = df1[['stock_id', 'date', 'closing_price']].pivot(index='date', columns='stock_id', values='closing_price').pct_change()

In [95]:
df2.head()

stock_id          30      1799      2000  ...    950130    950140    950160
date                                      ...
2018-10-01       NaN       NaN       NaN  ...       NaN       NaN       NaN
2018-10-02 -0.011834 -0.003846  0.084507  ... -0.043922 -0.007366 -0.056962
2018-10-04  0.017964 -0.032819 -0.010390  ...  0.006410 -0.027829  0.023490
2018-10-05 -0.011765  0.007984 -0.045932  ... -0.035032 -0.058206 -0.038251
2018-10-08  0.005952 -0.021782  0.011004  ...  0.019802 -0.033435 -0.003409

[5 rows x 2243 columns]

In [96]:
df2 = df2.iloc[1:, :]
df2.head()
cor1 = df2.corr()
cor1.head()

stock_id        30      1799      2000  ...    950130    950140    950160
stock_id                                ...
30        1.000000 -0.031108  0.123098  ...  0.115080 -0.010114  0.124986
1799     -0.031108  1.000000 -0.065331  ... -0.034981  0.120265 -0.144792
2000      0.123098 -0.065331  1.000000  ... -0.045459 -0.019126  0.149385
2005      0.042424 -0.034314  0.902140  ... -0.137075 -0.098130  0.069234
2250      0.069366 -0.069900  0.103839  ...  0.046316  0.250767  0.086205

[5 rows x 2243 columns]

In [97]:
cor1.to_csv('cor12.csv')